@model Shop.Models.RealEstate.RealEstateDetailsViewModel

<h1>Details</h1>

<div>
    <h4>Real Estates</h4>
    <hr />
    <dl class="row">
        <div class="form-group row">
            <label asp-for="Id" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.Id)
        </div>

        <div class="form-group row">
            <label asp-for="Address" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.Address)
        </div>

        <div class="form-group row">
            <label asp-for="SizeSqrM" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.SizeSqrM)
        </div>

        <div class="form-group row">
            <label asp-for="RoomCount" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.RoomCount)
        </div>

        <div class="form-group row">
            <label asp-for="Floor" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.Floor)
        </div>

        <div class="form-group row">
            <label asp-for="BuildingType" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.BuildingType)
        </div>

        <div class="form-group row">
            <label asp-for="BuiltInYear" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.BuiltInYear)
        </div>

        <div class="form-group row">
            <label asp-for="CreatedAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.CreatedAt)
        </div>

        <div class="form-group row">
            <label asp-for="UpdatedAt" class="col-sm-2 col-form-label"></label>
            @Html.DisplayFor(model => Model.UpdatedAt)
        </div>

        @foreach (var image in Model.Image)
        {
            // Convert the byte array to a data URI
            var base64Image = Convert.ToBase64String(image.ImageData);
            var imgSrc = $"data:image/jpeg;base64,{base64Image}";

            <img src="@imgSrc" alt="Image" />
        }
        
    </dl>
    <hr />
    <a asp-action="index" class="btn btn-primary">Index</a>

</div>
